*{
    box-sizing: border-box;
}
:root{
    --primary-light-color: #f08040;
    --secondary-background-color: #124561;
}
html{
    font-size: 62.5%;
}
body{
    margin: 0;
    font: 1.6rem Helvetica, Arial;
    height: 100vh;
    background-color: burlywood;
    color: cadetblue;
}